// Spacings
$spacing: (
  'none': 0,
  'auto': auto,
  'xs': 0.25rem,
  'sm': 0.5rem,
  'md': 1rem,
  'lg': 2rem,
  'xl': 4rem,
);

@each $key, $value in $spacing {
  .m-#{$key} {
    margin: $value;
  }
  .m-top-#{$key} {
    margin-top: $value;
  }
  .m-right-#{$key} {
    margin-right: $value;
  }
  .m-bottom-#{$key} {
    margin-bottom: $value;
  }
  .m-left-#{$key} {
    margin-left: $value;
  }
  .p-#{$key} {
    padding: $value;
  }
  .p-top-#{$key} {
    padding-top: $value;
  }
  .p-right-#{$key} {
    padding-right: $value;
  }
  .p-bottom-#{$key} {
    padding-bottom: $value;
  }
  .p-left-#{$key} {
    padding-left: $value;
  }
}

// Dimensions
$dimension: (
  'xs': (w: 5rem, h: 5rem),
  'sm': (w: 10rem, h: 10rem),
  'md': (w: 20rem, h: 20rem),
  'lg': (w: 30rem, h: 30rem),
  'xl': (w: 40rem, h: 40rem),
  'full': (w: 100%, h: 100%),
  'screen': (w: 100vw, h: 100vh),
  'fit': (w: fit-content, h: fit-content),
  'max': (w: max-content, h: max-content),
  'min': (w: min-content, h: min-content),
);

@each $key, $value in $dimension {
  .w-#{$key} {
    width: map-get($value, w);
  }
  .max-w-#{$key} {
    width: auto;
    max-width: map-get($value, w);
  }
  .min-w-#{$key} {
    width: auto;
    min-width: map-get($value, w);
  }
  .h-#{$key} {
    height: map-get($value, h);
  }
  .max-h-#{$key} {
    height: auto;
    max-height: map-get($value, h);
  }
  .min-h-#{$key} {
    height: auto;
    min-height: map-get($value, h);
  }
}

// Colors
$colors: (
  "black": rgb(33, 33, 33),
  "black-75": rgba(33, 33, 33, 0.75),
  "black-50": rgba(33, 33, 33, 0.5),
  "black-25": rgba(33, 33, 33, 0.25),
  "white": rgb(247, 247, 247),
  "white-75": rgba(247, 247, 247, 0.75),
  "white-50": rgba(247, 247, 247, 0.5),
  "white-25": rgba(247, 247, 247, 0.25),
  "gray": rgb(128, 128, 128),
  "gray-75": rgba(128, 128, 128, 0.75),
  "gray-50": rgba(128, 128, 128, 0.5),
  "gray-25": rgba(128, 128, 128, 0.25),
  "red": rgb(255, 0, 0),
  "red-75": rgba(255, 0, 0, 0.75),
  "red-50": rgba(255, 0, 0, 0.5),
  "red-25": rgba(255, 0, 0, 0.25),
  "green": rgb(0, 255, 0),
  "green-75": rgba(0, 255, 0, 0.75),
  "green-50": rgba(0, 255, 0, 0.5),
  "green-25": rgba(0, 255, 0, 0.25),
  "blue": rgb(0, 0, 255),
  "blue-75": rgba(0, 0, 255, 0.75),
  "blue-50": rgba(0, 0, 255, 0.5),
  "blue-25": rgba(0, 0, 255, 0.25),
  "yellow": rgb(255, 255, 0),
  "yellow-75": rgba(255, 255, 0, 0.75),
  "yellow-50": rgba(255, 255, 0, 0.5),
  "yellow-25": rgba(255, 255, 0, 0.25),
  "purple": rgb(128, 0, 128),
  "purple-75": rgba(128, 0, 128, 0.75),
  "purple-50": rgba(128, 0, 128, 0.5),
  "purple-25": rgba(128, 0, 128, 0.25),
  "cyan": rgb(0, 255, 255),
  "cyan-75": rgba(0, 255, 255, 0.75),
  "cyan-50": rgba(0, 255, 255, 0.5),
  "cyan-25": rgba(0, 255, 255, 0.25),
  "magenta": rgb(255, 0, 255),
  "magenta-75": rgba(255, 0, 255, 0.75),
  "magenta-50": rgba(255, 0, 255, 0.5),
  "magenta-25": rgba(255, 0, 255, 0.25),
  "transparent": transparent,
  "orange": rgb(255, 165, 0),
  "orange-75": rgba(255, 165, 0, 0.75),
  "orange-50": rgba(255, 165, 0, 0.5),
  "orange-25": rgba(255, 165, 0, 0.25),
  "pink": rgb(255, 192, 203),
  "pink-75": rgba(255, 192, 203, 0.75),
  "pink-50": rgba(255, 192, 203, 0.5),
  "pink-25": rgba(255, 192, 203, 0.25),
  "brown": rgb(165, 42, 42),
  "brown-75": rgba(165, 42, 42, 0.75),
  "brown-50": rgba(165, 42, 42, 0.5),
  "brown-25": rgba(165, 42, 42, 0.25),
  "lime": rgb(0, 255, 0),
  "lime-75": rgba(0, 255, 0, 0.75),
  "lime-50": rgba(0, 255, 0, 0.5),
  "lime-25": rgba(0, 255, 0, 0.25),
  "indigo": rgb(75, 0, 130),
  "indigo-75": rgba(75, 0, 130, 0.75),
  "indigo-50": rgba(75, 0, 130, 0.5),
  "indigo-25": rgba(75, 0, 130, 0.25),
  "teal": rgb(0, 128, 128), 
  "teal-75": rgba(0, 128, 128, 0.75),
  "teal-50": rgba(0, 128, 128, 0.5),
  "teal-25": rgba(0, 128, 128, 0.25),
);

@each $key, $value in $colors {
  .color-#{$key} {
    color: $value;
  }
  .bg-#{$key} {
    background-color: $value;
  }
}

// Font weights
$font-weight: (
  "light": 300,
  "regular": 400,
  "medium": 500,
  "bold": 700,
);

@each $key, $value in $font-weight {
  .font-#{$key} {
    font-weight: $value;
  }
}


// Font Sizes
$font-sizes: (
  "xs": 0.75rem,
  "sm": 0.875rem,
  "md": 1rem,
  "lg": 1.125rem,
  "xl": 1.25rem,
  "2xl": 1.5rem,
  "3xl": 1.875rem,
  "4xl": 2.25rem,
  "5xl": 3rem,
  "6xl": 4rem,
);

@each $key, $value in $font-sizes {
  .text-#{$key} {
    font-size: $value;
  }
}


// Border radius
$border-radius: (
  "none": none,
  "xs": 1px,
  "sm": 2px,
  "md": 4px,
  "lg": 8px,
  "xl": 16px,
  "full": 50%
);

@each $key, $value in $border-radius {
  .rounded-#{$key} {
    border-radius: $value;
  }
}

// Border style
$border-style :(
  "none": none,
  "solid": solid,
  "dashed": dashed,
  "dotted": dotted,
  "double": double,
  "groove": groove,
  "ridge": ridge,
  "inset": inset,
  "outset": outset,
);

@each $key, $value in $border-style {
  .border-style-#{$key} {
    border-style: $value;
  }
}


// Border color
@each $key, $value in $colors {
  .border-color-#{$key} {
    border-color: $value;
  }
}


// Text alignment
$alignment: (
  "left": left,
  "center": center,
  "right": right,
);

@each $key, $value in $alignment {
  .text-#{$key} {
    text-align: $value;
  }
}

// Text decoration

$text-decoration: (
  "none": none,
  "underline": underline,
  "overline": overline,
  "line-through": line-through,
);

@each $key, $value in $text-decoration {
  .text-#{$key} {
    text-decoration: $value;
  }
}
