$display: (
    'flex': flex,
    'block': block,
    'initial': initial,
    'inherit': inherit,
    'none': none,
    'inline': inline,
    'inline-block': inline-block,
    'inline-flex': inline-flex,
);

@each $key, $value in $display {
    .dir-#{$key} {
        display: $value;
    }
}

$justify-content: (
    'flex-start': flex-start,
    'flex-end': flex-end,
    'center': center,
    'space-between': space-between,
    'space-around': space-around,
    'space-evenly': space-evenly,
    'initial': initial,
    'inherit': inherit,
);

@each $key, $value in $justify-content {
    .justify-#{$key} {
        justify-content: $value;
    }
}

$flex-direction: (
    'row': row,
    'row-reverse': row-reverse,
    'column': column,
    'column-reverse': column-reverse,
    'initial': initial,
    'inherit': inherit,
);

@each $key, $value in $flex-direction {
    .flex-#{$key} {
        flex-direction: $value;
    }
}